---
---
@font-face {
    font-family: "Streetwear";
    src: url("../fonts/streetwear-webfont.eot");
    src: url("../fonts/Streetwear.otf") format('opentype'),
         url("../fonts/streetwear-webfont.ttf") format('truetype'),
        url("../fonts/streetwear-webfont.woff2") format('woff2'),
         url("../fonts/streetwear-webfont.woff") format('woff'),
         url("../fonts/streetwear-webfont.svg") format('svg');
}

@font-face {
    font-family: "Futura";
    src: url("../fonts/Futura.ttc");
}