---
---
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
*= require_self
  */

 //  Base Styles
 img {
    margin: auto;
    max-width: 100%;
}

html {
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box; 
    box-sizing: border-box;
}
*, *:before, *:after {
    -webkit-box-sizing: inherit; 
    -moz-box-sizing: inherit; 
    box-sizing: inherit;
}
.footer {
    position: relative;
    bottom: 0px;
}

@font-face {
    font-family: "Streetwear";
    src: url(/fonts/streetware.eot);
    src: url(/fonts/Streetwear.otf) format('opentype'),
         url(/fonts/streetwear-webfont.ttf) format('truetype'),
        url(/fonts/streetwear-webfont.woff2) format('woff2'),
         url(/fonts/streetwear-webfont.woff) format('woff'),
         url(/fonts/streetwear-webfont.svg) format('svg');
}

@font-face {
    font-family: "Futura";
    src: url(/fonts/Futura.ttc);
}

#daniel-peaslee{
    font-family: "Streetwear";
    color: #e80c7f  !important;
}
#sophia-peaslee{
    font-family: "Streetwear";
    color: #e80c7f  !important;
}
#chilaquiles{
    font-family: "Streetwear";
    color: #e80c7f  !important;
}
.homepage_title {
    position: relative;
    display: flex;
     justify-content: center;
     align-items: center;
    text-align: center;
    font-family: "Streetwear";
    color: #e80c7f  !important;
  }
.header-link {
    font-family: "Streetwear";
    color: #e80c7f  !important;
    line-height: 45px;
}
.title-class{
    color:#DA1E48 !important;
    font-family: "Futura";
    font-size: 20px;
}
.sidebar-links {
    font-family: "Futura";
    color: #DA1E48  !important;; 
}
.fa {
    color: #DA1E48  !important;; 
}
.episode-thumbnail {
    height: 140px;
}
.headshot {
    height: 200px;
}
.episode-table {
    width: 85%;
    position: relative;
    background-color: rgba(160,70,116,0.5);
    left: 10%;
}
.episode-cells {
    padding-right: 10px;
    width: 30%;
    text-align: left;
    padding-left: 10px;
    border-top: black 2px solid;
}
.visability {
    background-color: rgba(0,0,0,0.75);
}
.bgimage {
    background-image: url(/assets/images/adriftimages/adriftbackground.jpeg); 
    height: 100%;
    background-repeat: no-repeat; 
    background-size: cover;
    font-family: "Futura" !important;
    color:rgb(244, 245, 246) !important;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    font-size: large;
}
.adrift-wrapper{
    background-color: rgba(64, 28, 46, 0.9);
    padding-top: 15px;
}
.adrift {
    top: 10%;
    text-align: center;
}
.adrift-copy {
    text-align:left;
    padding-left: 10px;
    position: relative;
}