---
---
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

//  Base Styles
img {
    margin: auto;
    max-width: 100%;
}

html {
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box; 
    box-sizing: border-box;
}
*, *:before, *:after {
    -webkit-box-sizing: inherit; 
    -moz-box-sizing: inherit; 
    box-sizing: inherit;
}

//Other syles to be added respective their pages
#daniel-peaslee{
    font-family: "Streetwear";
    color: #e80c7f  !important;
}
#sophia-peaslee{
    font-family: "Streetwear";
    color: #e80c7f  !important;
}
.homepage_title {
    position: relative;
    display: flex;
     justify-content: center;
     align-items: center;
    text-align: center;
    font-family: "Streetwear";
    color: #e80c7f  !important;
  }
.episode-thumbnail {
    height: 140px;
}
.headshot {
    height: 200px;
}
.episode-table {
    width: 85%;
    position: relative;
    background-color: rgba(160,70,116,0.5);
    left: 10%;
}
.episode-cells {
    padding-right: 10px;
    width: 30%;
    text-align: left;
    padding-left: 10px;
    border-top: black 2px solid;
}
.bgimage {
    background-image: url(/assets/images/nebula.gif); 
    background-repeat: no-repeat; 
    background-size: cover;
    font-family: "Futura" !important;
    color:aliceblue !important;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    font-size: large;
}

.adrift {
    position: fixed; /* or absolute */
    top: 10%;
    text-align: center;
}
.adrift-copy {
    text-align:left;
    left: 10%;
    position: relative;
}

