---
---
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
*= require_self
  */

 //  Base Styles
 img {
    margin: auto;
    max-width: 100%;
}

html {
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box; 
    box-sizing: border-box;
}
*, *:before, *:after {
    -webkit-box-sizing: inherit; 
    -moz-box-sizing: inherit; 
    box-sizing: inherit;
}
.footer {
    position: relative;
    bottom: 5px;
    text-aligin: center;
    width: 100%;
}

hr {
    background-color: #e80c7f  !important;
}
.socialmedia {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.nav-link {
    padding: .5rem .1rem;
}

// Font Formating
@font-face {
    font-family: "Streetwear";
    src: url(/fonts/streetwear.eot);
    src: url(/fonts/Streetwear.otf) format('opentype'),
         url(/fonts/streetwear-webfont.ttf) format('truetype'),
        url(/fonts/streetwear-webfont.woff2) format('woff2'),
         url(/fonts/streetwear-webfont.woff) format('woff'),
         url(/fonts/streetwear-webfont.svg) format('svg');
}

@font-face {
    font-family: "Futura";
    src: url(/fonts/Futura.ttc);
}
@font-face {
    font-family: "ITC SerifGothic";
    src: url(/fonts/ITC-SerifGothic.ttf)
}
@font-face {
    font-family: "Eurostile";
    src: url(/fonts/eurostile-2/eurostile.TTF);
}

a {
    color: #DA1E48 !important;
}

.fa {
    color: #DA1E48  !important;
}
.header-class{
    font-family: "Streetwear";
    color: #e80c7f  !important;
}

.header-link {
    font-family: "Streetwear";
    color: #e80c7f  !important;
    line-height: 45px;
}

.homepage_title {
    position: relative;
    display: flex;
     justify-content: center;
     align-items: center;
    text-align: center;
    font-family: "Streetwear";
    color: #e80c7f  !important;
  }

.project-header {
    color:#e80c7f !important;
    font-family: "Streetwear";
}
.sidebar-links {
    font-family: "Futura";
    color: #DA1E48  !important;
}
.title-class {
    color:#DA1E48 !important;
    font-family: "Futura";
    font-size: 20px;
}
// Image Formating
.episode-thumbnail {
    height: 140px;
}
.headshot {
    height: 200px;
}

// Project Specific
//adrift
.adrift-title{
    color:rgb(244, 245, 246) !important;
}
.adrift-visability {
    background-color: rgba(0,0,0,0.75);
}
.adrift-bgimage {
    height: 100%;
    background-repeat: no-repeat; 
    background-size: cover;
    font-family: "Futura" !important;
    color:rgb(244, 245, 246) !important;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    font-size: large;
}
.adrift-wrapper{
    background-color: rgba(64, 28, 46, 0.9);
    padding-top: 15px;
    height: 100%;
}
.adrift {
    top: 10%;
    text-align: center;
}
.adrift-episode-stye{
    color:rgb(244, 245, 246) !important;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}
//Black Dog
.blackdog-title{
    font-family: "ITC SerifGothic";
    color: #dac805;
    text-align: center;
    padding-top: 15px;
    font-size: 40px;
}
.blackdog-genre{
    font-family: "ITC SerifGothic";
    color: #dac805;
    text-align: center;
}
.blackdog-subtitle{
    font-family: "ITC SerifGothic";
    color: #dac805;
    text-align: center;
    padding-top: 15px;
}
.blackdog{
    background-color: black;
}
//Kima
.kima-title{
    font-family: "ITC SerifGothic";
    color: #dac805;
    text-align: center;
    padding-top: 15px;
    font-size: 40px;
}
.kima-subtitle{
    font-family: "ITC SerifGothic";
    color: #dac805;
    text-align: center;
    padding-top: 15px;
}
.kima-genre{
    font-family: "ITC SerifGothic";
    color: #dac805;
    text-align: center;
}
.kima-wrapper{
    background-color: rgba(0,0,0,0.75);
    padding-top: 15px;
    height: 100%;
}
.kima-visability {
    background-color: rgba(0,0,0,0.75);
}
.kima-body{
    top: 10%;
    font-family: "Futura";
    color:#189a25;
    padding-left: 5%;
    padding-right: 5%;
}
.movie-poster{
    position: relative;
    display: flex;
    height: 400px;
    margin: auto;
    max-width: 100%;
    justify-content: center;
}
.recipe-div{
    padding-left: 5%;
    color:#e80c7f;
}
.recipe-header{
    color:#DA1E48;
}
//Panopticon
.panopticon-title{
    font-family: "Eurostile";
    text-align: center;
    padding-top: 15px;
    font-size: 40px;
}
.panopticon-body{
    top: 10%;
    font-family: "Eurostile";
    padding-left: 5%;
    padding-right: 5%;
}
// Grid formatting
.collection-four-columns {
    display: grid;
    grid-auto-columns: max-content;
    grid-auto-flow: dense;
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 25px;
    grid-template-columns: repeat(4, 1fr);
    
    //--- JUST VISUAL STYLING BELOW
      margin: 60px auto;
      max-width: 800px;
  }
  .collection-three-columns {
    display: grid;
    grid-auto-columns: max-content;
    grid-auto-flow: dense;
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 25px;
    grid-template-columns: repeat(3, 1fr);
    
    //--- JUST VISUAL STYLING BELOW
      margin: 60px auto;
      max-width: 800px;
  } 
  .projects {
      margin: 60px auto;
      margin-top: 0px;
      max-width: 800px;
  } 
 .movieul {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
  }
.bts-slideshow {
  justify-content: center;
  position: relative;
  margin: auto;
  }  
.btsImages {
    display:none;
    padding-bottom: 15px;

}
.episode {
    &__image {
       display: block;
       height: 150px;
    }
    &__name {
        font-family: "Futura" !important;
        font-size: large;
        font-weight: bold;
    }
   }
