---
 layout: sidebar
---

 <h1 id="daniel-peaslee">Daniel Peaslee</h1>
 <h2 class="title-class">Chief Mischief Officer</h2>
 <p>
   <img
     src="/assets/images/headshots/danielpeaslee.jpeg"
     alt="Daniel Peaslee"
     class="headshot"
   />
 </p>

 <p>{{page.daniel-copy}}</p>

 <h1 id="sophia-peaslee">Sophia Peaslee</h1>
 <h2 class="title-class">Chief Capability Officer</h2>
 <p>
   <img
     src="/assets/images/headshots/sophiapeaslee.jpeg"
     alt="Sophia Peaslee"
     class="headshot"
   />
 </p>
 <div class="socialmedia">
   <a href="https://twitter.com/sopeaslee"><i class="fa fa-twitter"></i></a>
   <a href="https://www.instagram.com/speaslee/"
     ><i class="fa fa-instagram"></i
   ></a>
   <a href="https://www.linkedin.com/in/sophiapeaslee/"
     ><i class="fa fa-linkedin"></i
   ></a>
 </div>
 <p>{{page.sophia-copy}}</p>

 <h1 id="chilaquiles">Chilaquiles</h1>
 <h2 class="title-class">Chief Moral Officer</h2>
 <p>
    <img
     src="/assets/images/headshots/chilaquiles.JPG"
     alt="Chili"
     class="headshot"
   />
 </p>
 <div class="socialmedia">
    <a href="https://www.instagram.com/chilaquiles_the_cavachin/"
     ><i class="fa fa-instagram"></i
   ></a>
 </div>
 <p>{{page.chilaquiles-copy}}</p>