<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/css/styles.css">
    <body class="bgimage" >
        <div class="bgimage" >

            <nav class="navbar navbar-expand-lg bg-body-tertiary">
                <div class="container-fluid">
                <a class="navbar-brand" href="{{ "/" | absolute_url }}">Home</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                </div>
            </nav>
            <div class="adrift">
                <h1>Adrift In a Silent Sea</h1>
                <div class="adrift-copy">
                    <p> During a routine surveing mission resident wet sad boy O'Brien is sucked through a wormhole and deposited on the other side of the galaxy. Now he has to figure out how to get home</p>
                    <h4> Regular Cast and Crew</h4>
                    <p>Writen and Directed By Sophia and Daniel Peaslee</p>
                    <ul>
                        <li><b>Daniel Peaslee </b>as O'Brien</li>
                    </ul>
                </div>
                
                <div class="episode-table-div">
                    <table class="episode-table">
                        <tr>
                            <th class="episode-cells"><h4> Episode Title</h4></th>
                            <th class="episode-cells"><h4>Synopsis</h4></th>
                            <th class="episode-cells"><h4>Guest Staring</h4></th>
                            <th class="episode-cells"></th>
                        </tr>
                        <tr>
                            <td class="episode-cells">
                                <b>Episode 1: Adrift </b><br>
                                <img src="/assets/images/adriftimages/s84-27018orig.jpg" alt="Episode 1" class="episode-thumbnail"/>
                            </td>
                            <td class="episode-cells">
                                In the year 2250, during a routine surveying mission the shuttle Agamenon encounters a mysterious wormhole
                            </td>
                            <td class="episode-cells">
                                <ul>
                                    <li>Sophia Peaslee as Lt</li>
                                    <li> Chilaquiles for moral support</li>
                                </ul>
                                Musical Guest:
                                <ul>
                                    <li>Sia</li>
                                </ul>
                            </td>
                            <td class="episode-cells">
                                Listen on
                                <ul>
                                    <li>Itunes</li>
                                    <li>Spotify</li>
                                    <li>Audible</li>
                                </ul>
                                Watch on
                                <ul>
                                    <li>Youtube</li>
                                </ul>
                                Support us on
                                <ul>
                                    <li>Patreon</li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <td class="episode-cells">
                                <b>Episode 1: Big Uhoh </b><br>
                                <img src="/assets/images/adriftimages/DancingFlames.jpg" alt="Episode 1" class="episode-thumbnail"/>
                            </td>
                            <td class="episode-cells">
                                Things go from bad to worse
                            </td>
                            <td class="episode-cells">
                                <ul>
                                    <li>Nathan Fillion as Satan</li>
                                </ul>
                                Musical Guest:
                                <ul>
                                    <li>Lordi</li>
                                </ul>
                            </td>
                            <td class="episode-cells">
                                Listen on
                                <ul>
                                    <li>Itunes</li>
                                    <li>Spotify</li>
                                    <li>Audible</li>
                                </ul>
                                Watch on
                                <ul>
                                    <li>Youtube</li>
                                </ul>
                                Support us on
                                <ul>
                                    <li>Patreon</li>
                                </ul>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>

     </body>
  </html>