---
layout: full-width
---
<body>
    {% if page.background-image %}
        <style class={{ page.background-style }}>
            body {
                background-image: url({{ page.background-image }})
            }
        </style>
    {% endif %}
    {% if page.background-color %}
    <style class={{ page.style }}>
        body {
            background-color: black;
        }
    </style>
    {% endif %}

    <div class="wrapper{% if page.div-style%} {{page.div-style}}{% endif %}">
        <div class={{ page.style }}>
            <h1 class={{ page.title-style }}>{{ page.title }}</h1>
            <p class={{ page.genre-style }}><i>{{page.genre}}</i></p>
            <div class>
                <p> {{ page.summary }}</p>
            </div>
            {% if page.poster %}
                <img src={{ page.poster }} class="movie-poster" alt={{ page.poster-alt }}>
            {% endif %}
            {% if page.trailer %}
                <h4 class={{ page.subtitle-style }}>Trailer:</h4>
                {% if page.trailer contains "vimeo" %}
                    <div style="padding:56.25% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/1148310330?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture; clipboard-write; encrypted-media; web-share" referrerpolicy="strict-origin-when-cross-origin" style="position:absolute;top:0;left:0;width:100%;height:100%;" title="NoEvil Trailer"></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
                {% else %}
                    <video height="400" controls class={{ page.movie-poster }}>
                        <source src={{ page.trailer }}>
                    </video>
                {% endif %}
            {% endif %}
            <h4 class={{ page.subtitle-style }}>Cast</h4>
            <ul class="movieul">
                {% for cast in page.cast-members %}
                <li>{{ cast.name }} as {{ cast.role }}</li>
                    {% endfor %}
            </ul>
            <h4 class={{ page.subtitle-style }}>Crew</h4>
            <ul class="movieul">
                {% for cast in page.crew-members %}
                    <li><b>{{ cast.name }}:</b> {{ cast.role }}</li>
                {% endfor %}
            </ul>
            {% if page.special-thanks %}
                <h4 class={{ page.subtitle-style }}>Special Thanks To:</h4>
                <p><i>{{ page.special-thanks }}</i></p>
            {% endif %}
            {% if page.socialmedia %}
                <h4 class={{ page.subtitle-style }}>Links</h4>
                <p>
                    {% for social in page.socialmedia %}
                        <a href="{{ social.url }}"><i class="fa fa-{{ social.icon }}"></i></a>
                    {% endfor %}
                </p>
            {% endif %}
             {% if page.medialinks %}
                <h4 class={{ page.subtitle-style }}>Reviews and Articles</h4>
                <p>
                    {% for social in page.medialinks %}
                        <a href="{{ social.url }}">{{social.title }}</a>
                    {% endfor %}
                </p>
            {% endif %}
            {% if page.official-selections %}
                <h4 class={{ page.subtitle-style }}>Official Selections:</h4>
                <div class="collection-three-columns projects">
                    {% for selection in page.official-selections %}
                    <div class="project">
                        <i>{{ selection.placement }}</i> in <b>{{ selection.contest }}</b>
                        <br>
                        <img src={{ selection.laurel-picture }} class="episode-thumbnail">
                    </div>

                    {% endfor %}
                </div>
            {% endif %}
            {% if page.laurels %}
              <h4 class={{ page.subtitle-style }}> Other Awards: </h4>
              <div class="collection-three-columns projects">
                {% for laurel in page.laurels %}
                <div class="project">
                    <i>{{ laurel.placement }}</i> in <b>{{ laurel.contest }}</b>
                    <br>
                    <img src={{ laurel.laurel-picture }} class="episode-thumbnail">
                </div>

                {% endfor %}
              </div>
            {% endif %}
            {% if page.behind-the-scenes-photos %}
                <h4 class={{ page.subtitle-style }}>Behind The Scenes:</h4>
                <div class="bts-slideshow" style="max-width: 500px">
                    {% for image in page.behind-the-scenes-photos %}
                        <div class="btsImages">
                            <img src={{ image.image }} alt={{ image.title }} style="width:100%">
                            <div class="w3-display-bottomleft w3-large w3-container w3-padding-16 w3-black">
                                {{ image.caption }}
                            </div>
                        </div>
    
                        {% endfor %}
                    <script src="{{ site.baseurl }}{% link assets/js/bts_slideshow.js %}"></script>
                </div>
            {% endif %}
        </div>
    </div>
</body>
 <!--  <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script> -->       