---
 layout: default
---
 <header>
   <h1 class="header-link"><a href="{{ "/" | absolute_url }}" class="header-link">{{ site.title | default: site.github.repository_name }}</a></h1>
   {% if site.logo %}
     <img src="{{site.logo | relative_url}}" alt="Logo" />
   {% endif %}

   <p>{{ site.description | default: site.github.project_tagline }}</p>
   <p><a href="{{ "/about" | absolute_url }}" class="sidebar-links">About Us</a></p>
   <p><a href="{{ "/projects" | absolute_url }}" class="sidebar-links">Our Projects</a></p>
   <p><a href="{{ "/announcements" | absolute_url }}" class="sidebar-links">Updates and Announcements</a></p>
   <p><a href="https://www.redbubble.com/people/sassyspaceman/shop#profile" class="sidebar-links"> Check Out Our Redbubble Store!</a></p>
   <p><a href="{{ "/contact" | absolute_url}}" class="sidebar-links">Contact Us</p>
   {% include _footer.html %}
 </header>
 <section>
   <div class="default-formating">
       {{ content }}
   </div>
 </section>
 